/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: boldonse-regular;
  font-style: normal;
  font-weight: normal;
  src: url("assets/Boldonse-Regular.ttf") format("truetype");
}

@font-face {
  font-family: playwrite;
  font-style: normal;
  font-weight: normal;
  src: url("assets/PlaywriteHU-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: 'playwrite', serif;
}

.default-button {
  width: 100px;
  margin-top: 25px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #bbbbbb;
}

.default-button:hover {
  background-color: #2780ff;
}

.default-button:active {
  background-color: cornflowerblue;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.quiz-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.default-button:hover {
  cursor: pointer;
}

.page-body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  font-family: 'playwrite', serif;
  background-color: cornflowerblue;
  overflow: hidden;
}
